div {
    box-sizing: border-box;
}
header {
    height: 60px;
    background: rgb(255, 213, 123);
    background-color: #FFD06B;
    border-bottom: 2px solid black;
}
h1 {
    text-align: center;
}
input, textarea {
    border: 1px solid black;
    border-radius: 4px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
button {
    width: 80%;
    height: 40px;
    margin: 20px 10%;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    background: orange;
    border: 1px solid black;
    border-radius: 4px;
}
button:hover{
    background: darkorange;
    border:3px solid black;
}
button:focus{
    outline: none;
}
textarea {
    width: 100%;
    min-height: 100px;
}
header a {
    float: right;
    height: 100%;
    font-size: 20px;
    line-height: 20px;
    /* display: inline; */
    box-sizing: border-box;
    padding-top: 20px;
    margin: 0 10px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
header #logo {
    height: calc(100% - 8px);
    margin: 4px 0px;
}
body {
    margin: 0;    
}
main {
    background-color: #F9E4B7;
    height: 100%;
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
}
section {
    padding: 15px;
    width: calc(100% - 20px);
    border: 2px solid orange;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
}
section#customer-view, section#request-view, section#request-listing {
    position: relative;
    max-width: 600px;
    margin: 10px auto;
    overflow: hidden;
}
table th, table td {
    min-width: 50px;
    text-align: center;
    padding: 3px 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
table tr.alt_row td {
    background: #BBBBBB;
}
table tr {
    cursor: pointer;
}
table th:first-of-type, table td:first-of-type {
    border-left: 0;
}
table th:last-of-type, table td:last-of-type {
    border-right: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table th {
    cursor: pointer;
    font-size: 18px;
}
table th input {
    width: calc(100% - 20px);
    padding: 3px 5px;
    font-size: 16px;
}
/* General placement and behavior of main-info */
.main-info {
    width: 100%;
    position: relative;
}
.main-info img, .main-info #cust_name {
    display: inline-block;
    height: 128px;
    vertical-align: top;
}
.main-info #cust_name div {
    height: 50%;
    width: 100%;
    font-size: 28px;
    line-height: 32px;
}
.main-info #cust_name div input {
    height: 32px;
    font-size: 28px;
    line-height: 32px;
    width: 80%;
    border: 1px solid black;
    border-radius: 4px;
}
.main-info #cust_name div:first-of-type{
    padding-top: 32px;
}
.main-info img {
    border-radius: 5px;
    min-width: 128px;
    max-width: 128px;
    margin-right: 10px;
}
/* Placing image field over image */
.main-info #img_field {
    max-width: 128px;
    min-width: 128px;
    bottom: 0;
    height: 22px;
    font-size: 20px;
    line-height: 22px;
    position: absolute;
    left: 0;
}
/* Sizing of name div */
.main-info #cust_name {
    width: calc(100% - 148px);
}

/* Button for switching between update and view */
section#customer-view button.switch-update{
    width: calc(100% + 30px);
    height: 40px;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
/* Placement and general behavior of other-info */
section div.other-info {
    margin-top: 10px;
}
section div.other-info div {
    width: 50%;
    float: left;
    height: 31px;
    font-size: 20px;
    line-height: 25px;
    padding: 3px 0;
}
section div.other-info div input, section div.other-info div select {
    width: 90%;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
}
/* Side by side inputs */
section div.other-info div.two-inputs input {
    width: 45%;
    margin: 0;
}
/* Fields on right should text-align right */
section div.other-info div:nth-of-type(2n) {
    text-align: right;
}
section div.cust-notes {
    width: 100%;
    height: 100px;
    font-size: 20px;
}
section div.cust-notes textarea {
    font-size: 20px;
}
section input[type=submit] {
    width: 80%;
    height: 40px;
    margin: 20px 10%;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    background: orange;
}
section input[type=submit]:hover {
    background: darkorange;
    border: 3px solid black;
}
section input[type=submit]:focus {
    outline: none;
}

