header {
    height: 60px;
    background: rgb(255, 213, 123);
    background-color: #FFD06B;
    border-bottom: 2px solid black;
}
header #logo {
    height: calc(100% - 8px);
    margin: 4px 0px;
}
body {
    margin: 0;    
}
main {
    background-color: #F9E4B7;
    height: 100%;
    max-height: 100vh;
    overflow-y: scroll;
}
section {
    padding: 15px;
    width: calc(100% - 20px);
    border: 2px solid orange;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
}
section#customer-view {
    max-width: 600px;
    margin: 10px auto;
}
table th, table td {
    min-width: 50px;
    text-align: center;
    padding: 3px 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
table th:first-of-type, table td:first-of-type {
    border-left: 0;
}
table th:last-of-type, table td:last-of-type {
    border-right: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table th {
    cursor: pointer;
    font-size: 18px;
}
table th input {
    width: calc(100% - 20px);
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
}
.main-info {
    width: 100%;
}
.main-info img, .main-info div {
    display: inline-block;
    height: 128px;
}
